spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bookingdb
    username: postgres
    password: postgres

    redis:
      host: localhost
      port: 6379

    kafka:
      bootstrap-servers: localhost:9092

  resilience4j:
    circuitbreaker:
      instances:
        paymentService:
          failureRateThreshold: 50
  booking:
    thread:
      pool-size: 10
